<div id="index">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Testing Agora</h1>
				<p>Testing the agora engine</p>

				<a class="button join">Join Channel</a>
				<a class="button video">Setup Video</a>

			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div id="agora_local"></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	
	var cuid = ""

	$(window).load(function() {
		var client = AgoraRTC.createClient({mode: 'live', codec: "h264"});

		client.init("eb87b1495576451392158959d91a19e4", function () {
			console.log("AgoraRTC client initialized");
		}, function (err) {
			console.log("AgoraRTC client init failed", err);
		});


		//// set up the join channel button
		$("a.join").on("click", function() {
			
			client.join(null, "test", null, function(uid) {
				console.log(" ")
				console.log("Client Join Callback:")
			    console.log("User " + uid + " join channel successfully");

			    cuid = uid

			}, function(err) {
			  console.log("Join channel failed", err);
			});
		})

		$("a.video").on("click", function() {

			localStream = AgoraRTC.createStream({
			  streamID: cuid,
			  audio: true,
			  video: true,
			  screen: false}
			);

			localStream.init(function() {
			  console.log("getUserMedia successfully");
			  localStream.play('agora_local');

			}, function (err) {
			  console.log("getUserMedia failed", err);
			});

			client.publish(localStream, function (err) {
			  console.log("Publish local stream error: " + err);
			});

			client.on('stream-published', function (evt) {
			  console.log("Publish local stream successfully");
			});




			client.on('stream-added', function (evt) {
			  var stream = evt.stream;
			  console.log("New stream added: " + stream.getId());

			  client.subscribe(stream, function (err) {
			    console.log("Subscribe stream failed", err);
			  });
			});
			client.on('stream-subscribed', function (evt) {
			  var remoteStream = evt.stream;
			  console.log("Subscribe remote stream successfully: " + stream.getId());
			  stream.play('agora_remote' + stream.getId());
			})


			localStream.init(function() {
			  console.log("getUserMedia successfully");
			  // Use agora_local as the ID of the dom element
			  localStream.play('agora_local');

			}, function (err) {
			  console.log("getUserMedia failed", err);
			});



		})
	})

</script>