<div id="index">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<img class="logo" src="/assets/logo_light.png" />
				<h3>When disaster strikes, it is critical - and challenging - for first responders to develop a coordinated response to mitigate as much damage as possible.</h3>
				<a href="/">Enter CommandPost</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5 col-sm-offset-1">
				<i class="fas fa-car"></i>
				<i class="fas fa-briefcase-medical"></i>
				<i class="fas fa-fire-extinguisher"></i>
				<p>CommandPost allows first responders in any capacity (fire, ems, police, and civilian) to coordinate an effective response to a disaster in real time no matter where they are.</p>
			</div>
			<div class="col-sm-5">
				<i class="fas fa-map"></i>
				<i class="fas fa-users"></i>
				<p>CommandPost is a video chat room with an editable map.  Individuals may add markers and geofences that are immediately viewable by all others in the CommandPost.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<p>CommandPost was built for the Agora.io Holiday Hack and leverages their RTC cloud tools.</p>
			</div>
		</div>
	</div>
</div>

