<div id="maptest">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<!-- <h1>Map Test</h1> -->
			</div>
		</div>
	</div>
	<div id='map'></div>
</div>

<script src='https://api.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' />



<script type="text/javascript">
  
	mapboxgl.accessToken = 'pk.eyJ1IjoiYnJ5YW5rbm91c2UiLCJhIjoiY2pxOHFlb3FoMzN1NTQzcGR0aGIxa240NSJ9.xgH24CaHc9SZuSCQ2Q24kw';

	// create map
	var map = new mapboxgl.Map({
		container: 'map',
		center: [-118.6260029,34.3861719],
		zoom: 9.5,
		style: 'mapbox://styles/bryanknouse/cjq8t7219dm5o2sptlq04ak6b'
	});


	// add map marker to map on clicks
	map.on('click', function(e) {

		var lt = e.lngLat.lat
		var ln = e.lngLat.lng

		console.log(lt)
		console.log(ln)

		var marker = new mapboxgl.Marker().setLngLat([ln,lt]).addTo(map);
	});



	$(window).load(function() {

		var interval = setInterval(function(){
			checkMarkers()
		}, 5000)
	})


	//// generate 30,000 random map markers
	function goMarkers() {

		for (var i = 3000 - 1; i >= 0; i--) {
			
			// generate the lat and lng values
			var lati = 34.0000000 + Math.random()
			var long = -117.3000000 - Math.random() - Math.random()

			var marker = new mapboxgl.Marker().setLngLat([long,lati]).addTo(map);
		}
	}

</script>
<!-- 
TR
34.79626347106817
-117.93800448840696

TL
34.79626347106817
map:56 -119.31691450176572

BL
34.00707234401874
map:56 -119.30137748753182 -->